footer(style="position:absolute; bottom: 0; width: 100%")
  div#chatWindow(style="width: 400px; left: 10px; position: relative; border: grey 1px solid; ")
    div(style="background: grey; color: white")
      span Active Chat:
      span#chatName None
      //a(onclick='setActiveChat(null)').mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Close
    #chat(style="display:flex; flex-direction: column;")
    div(style="display:flex; flex-direction: row;")
      input#chatInput(style="width:100%;")
      a(onclick='send()').mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Send
  #chatList(style="display:flex; flex-direction: row; background: grey; color: white; text-align: center; width: 100%;")
  


script(type='text/javascript').
  var url = "ws:" + window.location.href.split(':')[1] + ":8080/chat";
  var ws = new WebSocket(url);
  chat = document.getElementById("chat");
  var activeChat;
  var myChats = new Map();
  
  //CHEATEREI!
  var tmp = window.onload;
  window.onload = function() {
    renderChatWindow();
    if(tmp != null) {
      tmp();
    }
  }
  
  function setActiveChat(chat) {
    activeChat = chat;
    renderChatWindow();
  }
  function renderChatWindow() {
    var chatWindow = document.getElementById("chatWindow");
    var chatName = document.getElementById("chatName");
    
    var node
    if(!activeChat) {
      chatWindow.style.display = "none";
      node = document.createTextNode("None");
    } else {
      chatWindow.style.display = "block";
      node = document.createTextNode(activeChat.name);
    }
    chatName.replaceChild(node, chatName.firstChild);
  }
  function send() {
    var input = document.getElementById("chatInput");
    message(input.value);
    input.value = "";
  };
  function message(textMessage) {
    var message = {chatID: activeChat.id, type: "message", data: { user: localStorage.getItem("username"), textMessage: textMessage}}
    ws.send(JSON.stringify(message));
    message.data.user = "You";
    pushMessage(message);
  };
  function subscribeChat(id) {
    var message = { chatID: id, type: "subscribe" };
    ws.send(JSON.stringify(message));
  };
  function unsubscribeChat(id) {
    var message = { chatID: id, type: "unsubscribe" };
    ws.send(JSON.stringify(message));
  };
  
  function pushMessage(message) {
    var div = document.createElement("div");
    switch(message.type) {
      case "message":
        var node = document.createTextNode(message.data.user + " said: " + message.data.textMessage);
        break;
    }
    div.appendChild(node);
    chat.appendChild(div);
  };
  
  ws.onopen = function() {
    let subscriptions = JSON.parse(localStorage.getItem("subscriptions") || "[]");
    for (var key in subscriptions) {
      subscribeChat(key);
    }
    console.log("Connected");
  };
  
  ws.onmessage = function(messageEvent) {
    var data = JSON.parse(messageEvent.data);
    console.log(data);    
    pushMessage(data);
  };
  
  ws.onerror = function (errorEvent) {
    console.log("Error! Die Verbindung wurde unerwartet geschlossen");
  };
 
  ws.onclose = function (closeEvent) {
    console.log('Die Verbindung wurde geschlossen --- Code: ' + closeEvent.code + ' --- Grund: ' + closeEvent.reason);
  };
  //script(type='text/javascript').
  var eventID, sub, unsub, chatList;
  window.onload = function(e) {
    eventID = window.location.href.split('/').pop();
    sub = document.getElementById("subscribe");
    unsub = document.getElementById("unsubscribe");
    chatList = document.getElementById("chatList");
    render();
  }
    function render() {
      //localStorage.removeItem("subscriptions");
      renderButtons();
      renderChatList();
    }
    function renderButtons() {
      if(sub && unsub) {
        var obj = JSON.parse(localStorage.getItem("subscriptions") || "[]");
        if ( obj[eventID]){
          sub.style.display = "none";
          unsub.style.display = "block";
        } else {
          sub.style.display = "block";
          unsub.style.display = "none";
        }
      }
    }
    function renderChatList() {
      while (chatList.firstChild) {
        chatList.removeChild(chatList.firstChild);
      }
      var obj = JSON.parse(localStorage.getItem("subscriptions") || "[]");
      for(var id in obj) {
        var div = document.createElement("div");
        div.id = id;
        div.style.width = "100px";
        div.addEventListener("click", function(id) { //CLOSURE IST NÖTIG
          return function() {
            setActiveChat({id: id, name: obj[id]});
          };
        }(id), false);
        var node = document.createTextNode(obj[id]);
        div.appendChild(node);
        chatList.appendChild(div);
      }
    }
    function subscribe(id, title) {
      console.log("test");
      localStorage.addToObj("subscriptions", id, title);
      render();
      subscribeChat(id);
    }
    function unsubscribe(id, title) {
      console.log("test2");
      localStorage.deleteFromObj("subscriptions", id);
      render();
      unsubscribeChat(id);
    }
    Storage.prototype.addToObj = function(key, id, title) {
        var obj = JSON.parse(this.getItem(key) || "{}");
        if (!obj[id]) {
          obj[id] = title;
        }
        this.setItem(key, JSON.stringify(obj));
    }
    Storage.prototype.deleteFromObj = function(key, id) {
        var obj = JSON.parse(this.getItem(key) || "{}");
        if (obj[id]) {
          delete obj[id]
        }
        this.setItem(key, JSON.stringify(obj));
    }
